#contacts{
    margin:0px auto;
    padding:5px auto;
    padding-bottom:0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,.2);
    width:100%;
    height:fit-content;
    max-width: 700px;


}

@media screen and (max-width:100px){
    #contacts{
        flex-direction:column;
        gap:1rem
    }
}