.ajouter{
  width:14px;
  height:100%;
}
.supprimer{
  width:14px;
  height:100%;
}
.retirer{
  width:14px;
  height:100%;
}
.publicName_icons{
  display:none;
  flex-flow:row wrap;
  justify-content:space-between;
  align-items:center;
}
